//
//  ALVRClient.xcconfig
//  ALVRClient
//
//  Created by Shadowfacts on 2/7/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DEVELOPMENT_TEAM = 3D7RY439N
PRODUCT_BUNDLE_IDENTIFIER = alvr.client

#include? "AppStore.xcconfig"
#include? "Override.xcconfig"
